@import 'shared';

section[data-type="cover"] {
  page-break-after: after;
}

section[data-type="chapter"] {
  page-break-after: after;
}

section[data-type="sect1"] {
    page-break-after: always;
}

section[data-type="sect2"] {
    page-break-after: always;
}

nav[data-type="toc"] a[href]::after {
  content: " [Página " target-counter(attr(href), page) "]"
}
